---
import MainLayout from "@layouts/MainLayout.astro";
import { Code } from "astro:components";

import { getGithubContributors } from "../utils/github";

const code = `import { Lucia } from "lucia"

const auth = new Lucia(new Adapter(db));

const session = await auth.createSession(userId, {});
await auth.validateSession(session.id);`;

const contributors = await getGithubContributors();
---

<MainLayout title="Lucia">
	<h1 class="text-5xl font-semibold py-6"><span class="text-main">Lucia</span><br>Auth, simple and clean</h1>
	<p class="mt-6">
		Lucia is an auth library that abstracts away the complexity of handling sessions. It works
		alongside your database to provide an API that's easy to use, understand, and extend. <a
			href="/getting-started"
			class="hover:underline text-main w-fit">Get started →</a
		>
	</p>

	<Code code={code} theme="css-variables" lang="ts" />
	<section class="my-12">
		<h2 class="text-3xl font-medium mb-4">It just works</h2>
		<ul>
			<li><span class="font-medium text-main">✓</span> No more endless configuration and callbacks</li>
			<li><span class="font-medium text-main">✓</span> Fully typed</li>
			<li><span class="font-medium text-main">✓</span> Works in any runtime - Node.js, Bun, Deno, Cloudflare Workers</li>
			<li><span class="font-medium text-main">✓</span> Extensive database support</li>
			<li><span class="font-medium text-main">✓</span> Built-in support for popular frameworks</li>
			<li><span class="font-medium text-main">✓</span> Comprehensive documentation and guides</li>
		</ul>
	</section>
	<section class="my-12">
		<h2 class="text-3xl font-medium mb-4">Free and open source</h2>
		<p>Lucia is a free and open source project, made possible by our contributors!</p>
		<div class="flex w-full max-w-4xl flex-wrap place-content-center gap-2 mt-6">
			{
				contributors.map((contributor) => {
					return (
						<a
							href={contributor.profileLink}
							target="_blank"
							aria-label={`${contributor.username} GitHub profile`}
						>
							<img
								src={contributor.avatar}
								height="128"
								width="128"
								class="h-7 w-7 rounded-full border bg-zinc-100 object-fill transition duration-100 hover:scale-110"
								alt={contributor.username}
								loading="lazy"
							/>
						</a>
					);
				})
			}
		</div>
	</section>
</MainLayout>

<style>
	:global(.astro-code) {
		@apply mb-6 mt-4 w-full overflow-auto rounded-md bg-zinc-100 p-4 text-sm leading-snug;
	}
</style>
