---
import { getSubCollections } from "@utils/content";

import ReferenceLayout from "@layouts/ReferenceLayout.astro";
import MarkdownStyle from "@components/MarkdownStyle.astro";

import type { InferGetStaticPropsType } from "astro";

export const getStaticPaths = async () => {
    const subCollections = await getSubCollections("reference");
    return subCollections
        .map((subCollection) => {
            return subCollection.pages.map((page) => {
                return {
                    params: {
                        reference: page.pathnameSegments.slice(1).join("/")
                    },
                    props: {
                        subCollection,
                        page
                    }
                };
            });
        })
        .flat();
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { page, subCollection } = Astro.props;

const getPageTitle =  () => {
    if (page.title === "Main") return subCollection.subCollectionId;
    if (page.title.startsWith("/")) return `${subCollection.subCollectionId}${page.title}`;
    return `${subCollection.subCollectionId} ${page.title}`;
};
const title = getPageTitle();
---

<ReferenceLayout title={`${title} | Lucia reference`}>
    <div class="mt-6 mb-8">
        <h1 class="text-5xl font-bold" set:html={page.htmlTitle}></h1>
    </div>
    <MarkdownStyle>
        <page.Content />
    </MarkdownStyle>
</ReferenceLayout>
