---
import ContentTable from "@components/ContentTable.astro";
import Layout from "@components/Layout.astro";
import { getContent } from "cela/content";
import { frameworkIds } from "src/framework";
import redirects from "redirects.json";

const redirectTarget = redirects.find((val) => val.from === Astro.url.pathname);

if (redirectTarget) {
	return Astro.redirect(redirectTarget.to, 302);
}

let requestedFrameworkId = Astro.url.searchParams.get("framework") ?? null;

requestedFrameworkId ||= Astro.cookies.get("framework").value ?? null;

if (requestedFrameworkId && !frameworkIds.includes(requestedFrameworkId)) {
	requestedFrameworkId = null;
}

if (requestedFrameworkId) {
	Astro.cookies.set("framework", requestedFrameworkId ?? "none", {
		path: "/"
	});
}

const content = await getContent(Astro.url.pathname, requestedFrameworkId);

if (!content)
	return new Response(null, {
		status: 404
	});

if (content.metaData.redirect) {
	return Astro.redirect(content.metaData.redirect, 302);
}

if (content.metaData.frameworkId) {
	Astro.cookies.set("framework", content.metaData.frameworkId ?? "none", {
		path: "/"
	});
}

const contributePageUrl = new URL(
	`${content.metaData.path}.md`,
	"https://github.com/pilcrowOnPaper/lucia/blob/main/documentation/collection"
);
---

<Layout>
	<ContentTable content={content} />
	<main class="ml-80 bg-white min-h-screen">
		<article class="pt-24 mr-64 pb-12">
			<section id="md" class="px-24">
				<h1 class="font-semibold text-4xl sm:text-5xl mb-16">
					{content.metaData.title}
				</h1>
				<content.Content />
				<div class="mt-16">
					<a
						href={contributePageUrl}
						class="text-main hover:underline cursor-pointer;"
						>Contribute to this page</a
					>
				</div>
			</section>
		</article>
	</main>
	<div class="fixed right-0 top-0 pr-8 pt-24 h-screen w-64">
		<h2 class="font-medium text-sm mb-1">On this page</h2>
		<ul class="list-none text-zinc-500 dark:text-zinc-400 text-sm relative overflow-auto overscroll-contain h-full pb-8">
			<li class="my-1">
				<a href="#" class="hover:text-black-zinc hover:dark:text-zinc-200">
					Overview
				</a>
			</li>
			{
				content.headings
					.filter((heading) => heading.depth < 4)
					.map((heading) => {
						const hash = heading.slug.split("/").reverse()[0];
						return (
							<li
								class:list={[
									"my-2",
									{
										"ml-4": heading.depth === 3
									}
								]}
							>
								<a
									href={`#${hash}`}
									class="hover:text-black-zinc dark:hover:text-zinc-200"
								>
									{heading.text}
								</a>
							</li>
						);
					})
			}
		</ul>
	</div>
</Layout>

<style lang="postcss">
	:global(#md h2) {
		@apply font-semibold text-2xl sm:text-3xl mb-4 mt-16 break-words border-t border-zinc-200 pt-8;
	}
	:global(#md h3) {
		@apply font-semibold text-xl sm:text-2xl mb-4 mt-12 break-words;
	}
	:global(#md h4) {
		@apply font-medium text-lg sm:text-xl mt-6 break-words;
	}
	:global(#md h5) {
		@apply font-medium sm:text-lg mt-2 break-words;
	}
	:global(#md p) {
		@apply my-3 leading-relaxed;
	}
	:global(#md p code) {
		@apply text-sm;
	}
	:global(#md .astro-code) {
		@apply overflow-scroll rounded-md px-4 py-2 my-2 text-sm leading-relaxed;
		scrollbar-width: none;
	}
	:global(.dark #md .astro-code) {
		@apply !bg-zinc-900;
	}
	:global(#md pre::-webkit-scrollbar) {
		display: none;
	}
	:global(#md a) {
		@apply text-main hover:underline cursor-pointer;
	}
	:global(#md ol) {
		@apply list-decimal list-inside mb-6;
	}
	:global(#md ul) {
		@apply list-disc list-inside mb-6;
	}
	:global(#md li) {
		@apply my-0.5;
	}
	:global(#md table) {
		@apply w-full text-left table-auto border-collapse my-2;
	}
	:global(#md .table-wrapper) {
		@apply overflow-auto whitespace-nowrap w-full;
	}
	:global(#md table thead tr) {
		@apply border-b w-full border-zinc-200;
	}
	:global(#md table :is(td, th)) {
		@apply py-1.5 px-1 border-b border-zinc-200;
	}
	:global(.dark #md table :is(td, tr, th)) {
		@apply border-black-zinc;
	}
	:global(#md table th) {
		@apply font-medium text-sm;
	}
	:global(#md blockquote) {
		@apply px-4 py-1 my-3 border rounded-md text-sm;
	}
	:global(#md blockquote.bq-default) {
		@apply bg-main border-main bg-opacity-20;
	}
	:global(#md blockquote.bq-warn) {
		@apply bg-yellow-500 border-yellow-500 bg-opacity-20;
	}
	:global(#md blockquote.bq-red) {
		@apply bg-red-500 border-red-500 bg-opacity-20;
	}
	:global(#md img) {
		@apply bg-gray-100 w-full appearance-none text-transparent border rounded-md border-zinc-200;
	}
	:global(#md strong) {
		@apply font-semibold;
	}
</style>
