---
import BaseLayout from "@layouts/BaseLayout.astro";
import CodeBlock from "@components/CodeBlock.astro";
import Header from "@components/Header.astro";
import Menu from "@components/menus/MainMenu.astro";
import Next from "@icons/Next.astro";

import { getGithubContributors } from "@utils/github";
import DiscordIcon from "@icons/DiscordIcon.astro";
import GithubIcon from "@icons/GithubIcon.astro";

const code1 = `CREATE TABLE user (
	id TEXT NOT NULL PRIMARY KEY
);

CREATE TABLE user_key (
    id TEXT NOT NULL PRIMARY KEY,
    user_id TEXT NOT NULL REFERENCES user(id),
    hashed_password TEXT
);

CREATE TABLE user_session (
    id TEXT NOT NULL PRIMARY KEY,
    user_id TEXT NOT NULL REFERENCES user(id),
    active_expires INTEGER NOT NULL,
    idle_expires INTEGER NOT NULL
);`;

const code2 = `import { lucia } from "lucia";
import { express } from "lucia/middleware";
import { betterSqlite3 } from "@lucia-auth/adapter-sqlite";
import { db } from "./db.js";

export const auth = lucia({
	adapter: betterSqlite3(db),
	middleware: express(),
	env: "DEV"
});
`;

const code3 = `import { auth } from "./lucia.js";

const user = await auth.createUser({
	// user identified with their username
	key: {
		providerId: "username",
		providerUserId: username,
		password
	},
	attributes: {}
});
const session = await auth.createSession({
	userId: user.userId,
	attributes: {}
});
const sessionCookie = auth.createSessionCookie(session);`;

const contributors = await getGithubContributors();
---

<BaseLayout
	title="Lucia"
	description="Lucia is a simple and flexible auth library for TypeScript"
>
	<Header />
	<Menu />
	<div class="bg-main pb-2 pt-24 lg:ml-72 lg:pt-14">
		<a
			class="mx-auto mt-3 block w-fit text-sm text-white hover:underline sm:mt-2"
			href="/blog/lucia-2"
			>Announcing Lucia version 2!<span
				class="mb-[1px] ml-0.5 inline-block w-[9px] align-middle"><Next /></span
			></a
		>
	</div>
	<main class="overflow-hidden lg:ml-72">
		<div
			class="mx-auto w-fit max-w-4xl px-6 pb-24 pt-16 sm:px-8 md:px-16 lg:pt-32"
		>
			<img
				src="/logo.svg"
				alt="Lucia logo"
				width="100"
				height="100"
				class="mx-auto h-16 w-16"
			/>
			<p
				class="mx-auto mt-4 w-fit text-center text-4xl font-semibold sm:text-5xl"
			>
				Authentication, simple and clean.
			</p>

			<p class="mx-auto mt-8 w-fit text-center sm:text-lg">
				<span>Lucia</span> is an auth library for TypeScript that abstracts away
				the complexity of handling users and sessions. It works alongside your database
				to provide an API that's easy to use, understand, and extend.
			</p>
			<a
				class="text-main mx-auto mt-8 block w-fit hover:underline sm:text-lg"
				href="/getting-started"
				>Get started<span class="mb-[1px] ml-0.5 inline-block w-3 align-middle"
					><Next /></span
				></a
			>
		</div>
		<div class="mt-12 bg-sky-500 px-6 py-12 text-white sm:px-8 md:px-16">
			<h2 class="mx-auto mb-4 text-center text-3xl font-semibold sm:text-4xl">
				Motivation
			</h2>
			<p class="mx-auto max-w-2xl text-center">
				Auth providers are expensive and too rigid. Libraries like Auth.js are
				too bloated and opinionated. Building your own from scratch is hard and
				full of pitfalls. What if you can implement your own auth without
				worrying about the small details?
			</p>
		</div>
		<div class="px-6 pb-8 pt-12 sm:px-8 md:px-16">
			<h2 class="mx-auto mb-4 text-center text-3xl font-semibold sm:text-4xl">
				It just works
			</h2>
			<p class="mx-auto mb-8 max-w-2xl text-center">
				Forget endless configuration and callbacks - just write code. Works with
				all major JS runtimes, including Node.js, Deno, Bun, and Cloudflare
				Workers.
			</p>
			<div
				class="bg-zinc-80 relative mb-8 flex flex-col-reverse gap-y-8 rounded-xl px-8 py-6 xl:flex-row xl:gap-x-8"
			>
				<div class="z-10 grow">
					<CodeBlock code={code1} lang="sql" />
				</div>
				<div class="1.5xl:w-96 w-full xl:w-72">
					<h3 class="mb-2 text-xl font-semibold">Set up your database</h3>
					<p>
						Create 3 basic, minimum tables for Lucia. You can add columns to the
						user table to store custom attributes.
					</p>
				</div>
				<p
					class="absolute bottom-0 right-0 mb-6 mr-8 text-8xl font-bold text-zinc-200"
					role="presentation"
				>
					1
				</p>
			</div>
			<div
				class="bg-zinc-80 relative mb-8 flex flex-col-reverse gap-x-8 gap-y-8 rounded-xl px-8 py-6 xl:flex-row"
			>
				<div class="z-10 grow">
					<CodeBlock code={code2} lang="ts" />
				</div>
				<div class="1.5xl:w-96 w-full xl:w-72">
					<h3 class="mb-2 text-xl font-semibold">Initialize Lucia</h3>
					<p>
						Initialize Lucia using one of the many provided adapters and
						middleware to use it with your database and framework of choice.
					</p>
				</div>
				<p
					class="absolute bottom-0 right-0 mb-6 mr-8 text-8xl font-bold text-zinc-200"
					role="presentation"
				>
					2
				</p>
			</div>
			<div
				class="bg-zinc-80 relative flex flex-col-reverse gap-x-8 gap-y-8 rounded-xl px-8 py-6 xl:flex-row"
			>
				<div class="z-10 grow">
					<CodeBlock code={code3} lang="ts" />
				</div>
				<div class="1.5xl:w-96 w-full xl:w-72">
					<h3 class="mb-2 text-xl font-semibold">Start building</h3>
					<p>
						And that's it! Use Lucia's API to handle basic tasks like creating
						and validating sessions, and you always have the option to fallback
						to raw database queries when you need more.
					</p>
				</div>
				<p
					class="absolute bottom-0 right-0 mb-6 mr-8 text-8xl font-bold text-zinc-200"
					role="presentation"
				>
					3
				</p>
			</div>
		</div>
		<div class="px-6 pb-12 pt-12 sm:px-8 md:px-16">
			<h2 class="mx-auto mb-4 text-center text-3xl font-semibold sm:text-4xl">
				Free and open source
			</h2>
			<p class="mx-auto mb-8 max-w-2xl text-center">
				Lucia is a free and open source project made possible by our
				contributors! Thank you to everyone who has helped with the development!
			</p>
			<div
				class="mx-auto flex w-full max-w-4xl flex-wrap place-content-center gap-2 pb-1"
			>
				{
					contributors.map((contributor) => {
						return (
							<a
								href={contributor.profileLink}
								target="_blank"
								aria-label={`${contributor.username} GitHub profile`}
							>
								<img
									src={contributor.avatar}
									height="128"
									width="128"
									class="h-8 w-8 rounded-full border bg-zinc-100 object-fill transition duration-100 hover:scale-110"
									alt={contributor.username}
									loading="lazy"
								/>
							</a>
						);
					})
				}
			</div>
		</div>
		<div class="px-6 pb-12 pt-16 sm:px-8 md:px-16">
			<h2 class="mx-auto mb-4 text-center text-3xl font-semibold sm:text-4xl">
				Let's get started
			</h2>
			<p class="mx-auto mb-8 max-w-2xl text-center">
				<span class="font-semibold">But a small disclaimer...</span>what makes
				Lucia great is that it doesn't try to do everything. This means Lucia is
				intended for a specific audience. If you're looking for something quick
				and easy, Lucia might not be for you. Experience with backend
				development is a must too!
			</p>
			<p class="mx-auto mb-8 max-w-2xl text-center">
				Still interested? <a
					class="text-main hover:underline"
					href="/getting-started">Dive right in!</a
				>
			</p>
		</div>
		<div class="6 pb-12 text-sm text-zinc-600 sm:px-8 md:px-16">
			<div class="border-t pt-12">
				<p class="text-center">Tip: Lucia is pronounced <i>loo-shya</i></p>
				<div class="mt-4 flex place-content-center place-items-center gap-6">
					<a
						href="/discord"
						class="w-5 fill-current text-zinc-500 hover:text-zinc-700"
					>
						<DiscordIcon />
					</a>
					<a
						href="/github"
						class="w-5 fill-current text-zinc-500 hover:text-zinc-700"
					>
						<GithubIcon />
					</a>
				</div>
			</div>
		</div>
	</main>
</BaseLayout>
