---
import BaseLayout from "./BaseLayout.astro";
import Headings from "@components/doc/headings";
import Header from "@components/Header.astro";
import MarkdownArticle from "@components/MarkdownArticle.astro";
import type { DocumentQuery } from "@db/types";
import type { Q } from "@lib/db";

type Props = {
	doc: DocumentQuery<Q["integration" | "main"]["*"]["*"]>;
	external?: ExternalIntegration;
};

const { doc, external } = Astro.props;

const contributePageUrl = `https://github.com/pilcrowOnPaper/lucia-auth/blob/main/documentation/collection/${doc._path}.md`
---

<BaseLayout title={doc.title} external={external}>
	<Header />
	<slot name="table" />
	<main class="pt-36 lg:pt-20 min-w-0 pb-24 xl:pl-12 lg:mr-64 lg:pr-4 xl:ml-72 overflow-hidden">
		<MarkdownArticle title={doc.title} contributePageUrl={contributePageUrl}>
			<slot name="content" />
		</MarkdownArticle>
	</main>
	<Headings headings={doc._getHeadings()} />
</BaseLayout>
