---
import BaseLayout from "./BaseLayout.astro";
import Headings from "@components/document/Headings.svelte";
import Header from "@components/Header.astro";
import MarkdownArticle from "@components/MarkdownArticle.astro";
import type { MarkdownInstance } from "astro";

type Props = {
	title: string;
	headings: ReturnType<MarkdownInstance<any>["getHeadings"]>;
	ContentTable: any;
	external?: ExternalIntegration;
};

//FIXME: problem: on ASTRO DEV url.pathname not having trailing slash, on ASTRO PREVIEW it has and breaking link.
//INFO: temporary hotfix
const contributePageUrl = Astro.url.pathname.endsWith("/")
	? Astro.url.pathname.slice(0, -1)
	: Astro.url.pathname;

const { title, headings, ContentTable, external } = Astro.props;
---

<BaseLayout title={title} external={external}>
	<Header />
	<ContentTable title={title} />
	<main class="pt-36 lg:pt-20 min-w-0 pb-24 xl:pl-12 lg:mr-64 lg:pr-4  xl:ml-72 overflow-hidden">
		<MarkdownArticle title={title} contributePageUrl={contributePageUrl}>
			<slot />
		</MarkdownArticle>
	</main>
	<Headings headings={headings} />
</BaseLayout>
