---
import BaseLayout from "./BaseLayout.astro";
import Headings from "@components/doc/headings";
import Header from "@components/Header.astro";
import MarkdownArticle from "@components/MarkdownArticle.astro";
import type { QueryDocument } from "@db/query";
import type { db } from "@lib/db";

type Props = {
	doc: QueryDocument<typeof db, "integration" | "main">;
	external?: string;
};

const { doc, external } = Astro.props;

const contributePageUrl = new URL(
	`${doc.path}.md`,
	"https://github.com/pilcrowOnPaper/lucia/blob/main/documentation/collection"
);
---

<BaseLayout title={doc.metaData.title} external={external}>
	<Header />
	<slot name="table" />
	<main
		class="pt-36 lg:pt-20 min-w-0 pb-24 xl:pl-12 lg:mr-64 lg:pr-4 xl:ml-72 overflow-hidden"
	>
		<MarkdownArticle
			title={doc.metaData.title}
			contributePageUrl={contributePageUrl.toString()}
		>
			<slot name="content" />
		</MarkdownArticle>
	</main>
	<Headings headings={doc.$getHeadings()} />
</BaseLayout>
