---
import BaseLayout from "@components/structure/BaseLayout.astro";
import Headings from "@components/document/Headings.svelte";
import MainContent from "@components/content/MainContent.astro";
import Header from "@components/structure/Header.astro";
import type { MarkdownLayoutProps } from "astro";
import MarkdownArticle from "@components/structure/MarkdownArticle.astro";
import SvelteKitContent from "@components/content/SvelteKitContent.astro";
import ExpressContent from "@components/content/ExpressContent.astro";
import NextjsContent from "@components/content/NextjsContent.astro";

type Props = MarkdownLayoutProps<{
	title: string;
	order: number;
	redirect?: string;
}>;
const { frontmatter, headings } = Astro.props;

//FIXME: problem: on ASTRO DEV url.pathname not having trailing slash, on ASTRO PREVIEW it has and breaking link.
//INFO: temporary hotfix
const contributePageUrl = Astro.url.pathname.endsWith("/")
	? Astro.url.pathname.slice(0, -1)
	: Astro.url.pathname;

const frameworkParam = Astro.url.pathname.split("/")[1];
const framework = (
	["sveltekit", "nextjs", "express"].includes(frameworkParam) ? frameworkParam : null
) as Framework | null;

const title = Astro.props.frontmatter.title;
---

<BaseLayout title={frontmatter.title} framework={framework}>
	<Header />
	<div class="min-h-screen">
		{framework === "sveltekit" && <SvelteKitContent title={title} />}
		{framework === "express" && <ExpressContent title={title} />}
		{framework === "nextjs" && <NextjsContent title={title} />}
		{framework === null && <MainContent title={title} />}
		<main class="pt-36 lg:pt-20 min-w-0 pb-24 lg:ml-72 px-4 sm:px-8 lg:px-12">
			<div class="lg:pl-4 overflow-hidden">
				<MarkdownArticle
					title={Astro.props.frontmatter.title}
					contributePageUrl={contributePageUrl}
				>
					<slot />
				</MarkdownArticle>
			</div>
		</main>
	</div>
	<Headings headings={headings} />
</BaseLayout>
