---
import { FrameworkButton } from "./buttons";
import { getCollection } from "@cela/content";

type Props = {
	frameworkId: string | null;
	collectionId?: string;
};

const { frameworkId } = Astro.props;
let collectionId = Astro.props.collectionId ?? "main";
const collection = await getCollection(collectionId, frameworkId);

if (!collection)
	return new Response(null, {
		status: 404
	});

const currentPathname = Astro.url.pathname;
---

<script>
	import { addClassName, removeClassName } from "@lib/dom";
	import { onMenuToggle } from "../lib/state";
	const backdropElement = document.getElementById("backdrop");
	const contentTableWrapperElement = document.getElementById(
		"content-table-wrapper"
	);
	if (
		backdropElement instanceof HTMLDivElement &&
		contentTableWrapperElement instanceof HTMLDivElement
	) {
		onMenuToggle((isMenuOpen) => {
			if (isMenuOpen) {
				removeClassName(backdropElement, "hidden");
				removeClassName(contentTableWrapperElement, "hidden");
			} else {
				addClassName(backdropElement, "hidden");
				addClassName(contentTableWrapperElement, "hidden");
			}
		});
	}
</script>

<div
	class="bg-zinc-80 dark:bg-shadow-zinc fixed z-40 hidden h-full w-full overflow-hidden pb-8 pt-20 dark:text-zinc-400 md:w-80 xl:block"
	id="content-table-wrapper"
>
	<div
		class="block border-b border-zinc-200 pb-4 dark:border-zinc-800 sm:hidden"
	>
		<a
			class="hover:bg-zinc-150 dark:hover:bg-black-zinc block w-full rounded py-1 pl-8 pr-4"
			href="/reference">Reference</a
		>
	</div>
	<input type="hidden" value={collection.id} id="collection-id" />
	<input type="hidden" value={frameworkId} id="framework-id" />

	<div class="ml-8 mr-4 border-b border-zinc-200 py-6 dark:border-zinc-800">
		{
			!!collection.title && (
				<p class="text-lg font-semibold">{collection.title}</p>
			)
		}
		<FrameworkButton client:idle current={Astro.props.frameworkId} />
	</div>
	<div
		id="content-table"
		class="bg-zinc-80 dark:bg-shadow-zinc relative flex h-full flex-col gap-y-8 overflow-auto overscroll-contain pb-24 pt-2"
	>
		{
			collection.sections.map((section) => {
				return (
					<div class="">
						<p class="py-1 pl-8 pr-4 font-medium">{section.title}</p>
						<ul>
							{section.documents.map((doc) => {
								const isSelected = doc.href === currentPathname;
								return (
									<li>
										<a
											class:list={[
												"block hover:bg-zinc-150 pl-8 pr-4 py-1  dark:hover:bg-black-zinc",
												{
													"text-main": isSelected
												}
											]}
											href={doc.href}
										>
											{doc.title}
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				);
			})
		}
	</div>
</div>
<div
	class="bg-shadow-zinc fixed z-30 hidden h-full w-full overscroll-contain opacity-30 xl:hidden"
	id="backdrop"
>
</div>
<script is:inline>
	const contentTableElement = document.getElementById("content-table");
	const collectionIdElement = document.getElementById("collection-id");
	if (
		contentTableElement instanceof HTMLDivElement &&
		collectionIdElement instanceof HTMLInputElement
	) {
		const collectionId = collectionIdElement.value;
		const storedScrollPosition = sessionStorage.getItem("scroll_position");
		if (storedScrollPosition !== null) {
			const [prevCollectionId, prevScrollPosition] =
				storedScrollPosition.split(":");
			if (prevCollectionId === collectionId) {
				contentTableElement.scrollTop = Number(prevScrollPosition);
			}
		}
		contentTableElement.addEventListener("click", (e) => {
			if (!(e.target instanceof HTMLAnchorElement)) return;
			e.preventDefault();
			sessionStorage.setItem(
				`scroll_position`,
				`${collectionId}:${contentTableElement.scrollTop.toString()}`
			);
			window.location.href = e.target.href;
		});
	}
	const frameworkIdElement = document.getElementById("framework-id");
	if (frameworkIdElement instanceof HTMLInputElement) {
		const url = new URL(window.location.href);
		url.searchParams.set("framework", frameworkIdElement.value || "none");
		window.history.replaceState({}, "", url);
	}
</script>
