---
import Header from "@components/Header.astro";

interface Props {
	meta: {
		title: string | null;
		description: string | null;
	};
}
const title = Astro.props.meta.title ?? "Lucia";
const description =
	Astro.props.description.title ?? "Authentication, simple and clean";

const themeCookie = Astro.cookies.get("theme");
let theme = themeCookie.value ?? "light";
if (theme !== "light" && theme !== "dark") {
	theme = "light";
}
---

<script>
	import { addClassName, removeClassName } from "@lib/dom";
	import { onMenuToggle } from "@lib/state";

	onMenuToggle((isMenuOpen) => {
		if (isMenuOpen) {
			addClassName(document.body, "overflow-hidden");
		} else {
			removeClassName(document.body, "overflow-hidden");
		}
	});
</script>

<html lang="en" class="dark:bg-zinc-900">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- OpenGraph tags -->
		<meta property="og:title" content={title} />
		<meta
			property="og:url"
			content={`https://lucia-auth${Astro.url.pathname}`}
		/>
		<meta property="og:locale" content="en" />
		<meta property="og:image" content="/preview.jpg" />
		<meta property="og:image:alt" content="" />
		<meta name="description" property="og:description" content={description} />
		<meta property="og:site_name" content="Lucia Documentation" />
		<!-- Twitter tags -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="lucia" />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="/preview.jpg" />
		<meta name="twitter:image:alt" content="" />

		<title>
			{title}
		</title>
		<link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link
			rel="preconnect"
			href="https://fonts.gstatic.com"
			crossorigin="anonymous"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
			rel="stylesheet"
			rel="preload"
		/>
	</head>

	<body
		class:list={[
			"dark:text-zinc-200 leading-relaxed text-shadow-zinc xl:overflow-auto",
			theme
		]}
	>
		<Header />
		<slot />
		<style>
			body {
				font-family: IBM Plex Sans, sans-serif;
			}
		</style>
	</body>
	<!--not super proud of this - need this to hide main-color bg on chrome -->
	<div class="fixed top-0 -z-10 h-screen w-screen dark:bg-zinc-900"></div>
</html>
