---
import SearchMenu from "./SearchMenu.astro";

interface Props {
	meta: {
		title: string | null;
		description: string | null;
	};
	content?: {
		collectionId?: string;
		frameworkId?: string | null;
	};
}
const title = Astro.props.meta.title
	? `${Astro.props.meta.title} - Lucia`
	: "Lucia";
const description =
	Astro.props.meta.description ?? "Authentication, simple and clean";

const themeCookie = Astro.cookies.get("theme");
let theme = themeCookie.value ?? "light";
if (theme !== "light" && theme !== "dark") {
	theme = "light";
}

const origin = import.meta.env.DEV
	? Astro.url.origin
	: "https://lucia-auth.com";
---

<html lang="en" class="bg-main">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<!-- OpenGraph tags -->
		<meta property="og:title" content={title} />
		<meta property="og:url" content={`${origin}${Astro.url.pathname}`} />
		<meta property="og:locale" content="en" />
		<meta property="og:image" content={`${origin}/preview.jpg`} />
		<meta property="og:image:alt" content="" />
		<meta name="description" property="og:description" content={description} />
		<meta property="og:site_name" content="Lucia Documentation" />

		<!-- For Discord and Twitter thumbnail -->
		<meta name="twitter:card" content="summary_large_image" />

		<!-- For Discord sidebar -->
		<meta name="theme-color" content="#5f57ff" />
		<title>
			{title}
		</title>
		<link rel="icon" href="/logo.svg" sizes="any" type="image/svg+xml" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
		<link
			rel="preload"
			as="style"
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
			crossorigin
		/>

		<!-- preload fonts -->
		<!-- latin-ext 400-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhd_eFaxOedfTDw.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin 400-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYXgKVElMYYaJe8bpLHnCwDKhdHeFaxOedc.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin-ext 500-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AI9sdP3pBmtF8A.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin 500-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjSL9AIFsdP3pBms.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin-ext 600-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AI9sdP3pBmtF8A.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin 600-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin-ext 700-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AI9sdP3pBmtF8A.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<!-- latin 700-->
		<link
			rel="preload"
			href="https://fonts.gstatic.com/s/ibmplexsans/v14/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2"
			crossorigin
			as="font"
			type="font/woff2"
		/>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap"
			crossorigin
		/>
		<link href="/logo.svg" rel="preload" as="image" type="image/svg+xml" />
		<style>
			body {
				font-family: IBM Plex Sans, sans-serif;
			}
		</style>
	</head>

	<body
		class:list={["dark:text-zinc-200 text-shadow-zinc leading-relaxed ", theme]}
		set:html={await Astro.slots.render("default")}
	>
		<SearchMenu
			collectionId={Astro.props.content?.collectionId ?? null}
			frameworkId={Astro.props.content?.frameworkId ?? null}
		/>
	</body>
	<!--not super proud of this - need this to hide main-color bg on chrome -->
	<div class="fixed top-0 -z-10 h-screen w-screen bg-white dark:bg-zinc-900">
	</div>
	<input
		type="hidden"
		value={Astro.props.content?.frameworkId ?? ""}
		id="framework-id"
	/>
	<script>
		const frameworkIdInput = document.getElementById("framework-id");
		if (frameworkIdInput instanceof HTMLInputElement) {
			const frameworkId = frameworkIdInput.value;
			const url = new URL(window.location.href);
			url.searchParams.set(frameworkId ?? "none", "");
			window.history.replaceState(null, "", url.href.replace("=", ""));
		}
	</script>
</html>
